.button {
    background-color: #9FEBF9;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

.arc text {
  font: 18px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}
